@page
@model Neo4J_Projekat.Pages.FestivalModel
@{
    ViewData["Title"] = "Festival";
}
<div class="container">

    <div class="row">
        <div class="col ">
            <b>Naziv Festivala:</b>
            <p> @Model.festival.naziv</p>
        </div>
        <div class="col">
            <b> Godina Nastanka:</b>
            <p> @Model.festival.godinaNastanka</p>
        </div>
        <div class="col">
            <b>Zvanicni Sajt:</b>
            <br />
            <a href="@Model.festival.zvanicniSajt" target="_blank" style="color:blue;"> @Model.festival.zvanicniSajt</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <b> Opis:</b>
            <p> @Model.festival.opis</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="post" class="form-inline float-right">
                <b style="margin-right:5vh;">Godina Odrzavanja Festivala: </b>
                <input class="form-control" name="godina" style="margin-right:5vh;" list="datalistOptions" id="exampleDataList" placeholder="Odaberite godinu...">
                <datalist id="datalistOptions">
                    @if (Model.GodineOdrzavanja != null)
                    {
                        @foreach (var godina in Model.GodineOdrzavanja)
                        {
                            <option value="@godina" />
                        }
                    }
                </datalist>
                <button asp-page-handler="Godina" class=" btn btn-info ">Odaberi</button>
            </form>
        </div>
    </div>
    @if (Model.TrenutnaGodinaOdrzavanja != null)
    {
        <div class="row justify-content-center ">
            <h2>Bendovi Koji Sviraju  Na Festivalu @Model.TrenutnaGodinaOdrzavanja :</h2>
        </div>

    }

    <div class="row">
        @if (Model.Bendovi != null)
        {
            int broj = 0;
            @foreach (var bend in Model.Bendovi)
            {


                @if (broj == 3)
                {

                @:</div><div class="row">
                    broj = 0;

                }

                <div class="col">
                    <div class="card">

                        <div class="card-img-top">
                            <img style="" src="@bend.slika" />
                        </div>
                        <div class="card-body">
                            <div class="col" style="text-align:center;">
                                <b> @bend.naziv</b>
                            </div>
                            <form method="post" class="form-inline float-right">
                                <input name="naziv" value="@bend.naziv" hidden="hidden" />
                                <button asp-page-handler="Bend" class="btn-info btn">Detaljnije</button>
                            </form>
                        </div>
                        <a class="card-footer alert-success text-center">
                            <b> Kliknuti na detaljnije za vise informacija</b>
                        </a>
                    </div>
                </div>

                broj++;
            }
        }
    </div>







</div>
